.Input-container {
  border-color: var(--gray-light);
  border-style: solid;
  height: 47px;
  margin: 0;
  border-radius: 0;
  border-width: 0 0 1px;

  background: var(--white);
  color: var(--gray-dark);
  font-weight: 400;
  position: relative;
}

.Input-label {
  color: var(--gray-dark);
  font-size: 0.875em;
  position: absolute;
  top: 1.07143em;
  left: 0.8125em;
  transition: 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}

.Input-label.focused {
  top: 0.4375em;
  font-size: 0.75em;
}

.Input-input {
  box-sizing: border-box;
  background: none;
  padding: 1.14286em 8% 0 0.71429em;
  border: 0;
  font-size: 0.875em;
  font-weight: 400;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Input-input:focus {
  outline: none;
}
